*,
*::before,
*::after {
    box-sizing: border-box;
}

$font-size: 20px;

a {
    text-decoration: none;
    color: currentColor;
}

.menu {
    &__list {
        width: 100%;
        height: 40px;
        line-height: 40px;
        display: flex;
        background-color: black;
        color: white;
        font-size: $font-size;
        list-style-type: none;
        padding-left: 30px;
        margin: 0;

    }

    &__option {

        &:not(:last-of-type) {
            margin-right: 30px;
        }
    }
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    color: white;
}

.logo {
    display: none;
}

.menu {
    display: none;
}

@media screen and (min-width: 500px) {
    .menu {
        width: 100%;
        display: block;
        background-color: black;
        color: white;
        font-size: $font-size;
    }

    .logo-mobile {
        display: none;
        flex-direction: row-reverse;
        line-height: 40px;
        font-size: $font-size;
        height: 40px;
        width: 40px;


    }

    .container {
        background-color: black;
        color: white;
        font-size: $font-size;
        list-style-type: none;
        padding-left: 30px;
        margin: 0;


    }

}